<div class="petpost-page">
  <div class="navButtons" *ngIf="postpet && user; else elseNav">
    <button class="backBotton" (click)="goToBack()">Back</button>
    <div *ngIf="user.idUser == postpet.idUser">
      <div [ngSwitch]="postpet.petStateId" [style.display]="'inline'">
        <button
          *ngSwitchCase="'E'"
          [routerLink]="['/encuentra/editar', postpetId]"
          class="editButton"
        >
          Editar
        </button>
        <button
          *ngSwitchCase="'B'"
          [routerLink]="['/difunde/editar', postpetId]"
          class="editButton"
        >
          Editar
        </button>
        <button
          *ngSwitchCase="'H'"
          [routerLink]="['/ayuda/editar', postpetId]"
          class="editButton"
        >
          Editar
        </button>
        <button
          *ngSwitchCase="'A'"
          [routerLink]="['/adopta/editar', postpetId]"
          class="editButton"
        >
          Editar
        </button>
      </div>
      <button (click)="deletePost()" class="deleteButton">Eliminar</button>
    </div>
  </div>
  <ng-template #elseNav>
    <button class="backBotton" (click)="goToBack()">Back</button>
  </ng-template>
  <div *ngIf="!isLoading; else loading">
    <div *ngIf="postpet; else notFound">
      <div class="petContainer">
        <div class="petGallery">
          <swiper [config]="swiperConfig" style="z-index: 0">
            <ng-template *ngFor="let img of postpet?.urlImgs" swiperSlide>
              <div class="slide-container">
                <img class="imgPet" [src]="img.url" alt="imagen mascota" />
              </div>
            </ng-template>
          </swiper>
        </div>
        <div class="petData">
          <div *ngIf="postpet.petStateId == 'E'">
            <div class="petData__direction">
              <h3 class="data__question">¿Dónde y cuando fui encontrado?</h3>
              <p>
                El <span class="highlight">{{ lastTimeSeen }}</span> fui
                encontrado en la provincia de
                <span class="highlight">{{
                  postpet?.provinciaName | titlecase
                }}</span
                >, especificamente en el
                <span *ngIf="postpet?.sectorName"
                  >sector
                  <span class="highlight">{{
                    postpet?.sectorName | titlecase
                  }}</span>
                  del</span
                >
                canton
                <span class="highlight">{{
                  postpet?.cantonName | titlecase
                }}</span
                >.
              </p>
            </div>
            <div>
              <h3 class="data__question">¿Quién me encontró?</h3>
              <p>
                La persona que me encontro fue
                <a [routerLink]="['/profile', postpet.idUser]">{{
                  postpet.userName
                }}</a
                >.
              </p>
            </div>
            <div *ngIf="postpet.contact">
              <h3 class="data__question">Medios de contacto</h3>
              <p>
                Si necesitas más información contacta
                <span *ngIf="contactNum.length > 1; else otherNumber"
                  >con los siguientes números</span
                >
                <ng-template #otherNumber>
                  <span>con el siguiente número</span> </ng-template
                >: {{ postpet.contact }}
              </p>
            </div>
          </div>
          <div *ngIf="postpet.petStateId == 'B'">
            <h3 class="data__question">Acerca de mí</h3>
            <p *ngIf="postpet?.petName">
              Mi nombre es {{ postpet?.petName }} y estoy siendo buscado por mi
              dueño
              <a [routerLink]="['/profile', postpet.idUser]">{{
                postpet.userName
              }}</a
              >.
              <span *ngIf="postpet.petBreed"
                >Soy un {{ postpet.petBreed }}</span
              >
              <span *ngIf="postpet.petAge"> de {{ postpet.petAge }}</span>
            </p>
            <div class="petData__direction">
              Me perdi en {{ postpet?.provinciaName | titlecase }},
              {{ postpet?.cantonName | titlecase }} el {{ lastTimeSeen }}

              <p *ngIf="postpet?.sectorName">
                Sector: {{ postpet?.sectorName | titlecase }}
              </p>
            </div>
            <div *ngIf="postpet.contact">
              <h3 class="data__question">Medio de contacto</h3>
              <p>
                Si tienes información sobre mí por favor contacta con
                <span *ngIf="contactNum.length > 1; else otherNumber"
                  >los siguientes números</span
                >
                <ng-template #otherNumber>
                  <span>el siguiente número</span> </ng-template
                >:
                {{ postpet.contact }}
              </p>
            </div>
          </div>
          <div>
            <h3 class="data__question">Detalles acerca de mi situación</h3>
            <p>
              {{ postpet?.description }}
            </p>
          </div>
          <div>
            <h3 class="data__question">Recompensa</h3>
            <p *ngIf="postpet?.reward">
              Recompensa al que me encuentre: {{ postpet?.reward | currency }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <ng-template #notFound>
      <app-notfound message="Mascota no encontrada"></app-notfound>
    </ng-template>
  </div>
  <ng-template #loading>
    <div class="petContainer">
      <div class="petGallery"></div>
      <div class="petData"></div>
    </div>
  </ng-template>
</div>
