.background {
  background-color: var(--light-blue);
  width: 100%;
  height: 100%;
}

.petpost-page {
  margin-top: 20px;
  padding: 0 12px;
}

a {
  text-decoration: none;
}

.navButtons {
  display: flex;
  justify-content: space-between;
}

.backBotton {
  padding: 9px 9px;
  font-weight: 600;
  background-color: var(--yellow);
  border-radius: 6px;
}

.deleteButton {
  padding: 9px 9px;
  font-weight: 600;
  background-color: var(--blue);
  color: white;
  border-radius: 6px;
}

.editButton {
  padding: 9px 9px;
  font-weight: 600;
  color: white;
  background-color: var(--grey);
  border-radius: 6px;
  margin-right: 5px;
}

.petContainer {
  margin-top: 12px;
  line-height: 1.15;
}

.petGallery {
  margin-bottom: 8px;
  border-radius: 6px;
  min-width: 296px;
  min-height: 233px;
  display: flex;
  align-items: center;
  padding: 15px;
  background: var(--darker-light-blue);
}

.petData {
  margin-bottom: 8px;
  border-radius: 6px;
  padding: 15px;
  line-height: 1.15;
  background: var(--darker-light-blue);
  min-height: 200px;
  min-width: 296px;
  p {
    margin-bottom: 5px;
  }
  div {
    margin-bottom: 18px;
  }
}

.highlight{
  background-color: var(--yellow);
}

.data__question{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 8px;
}

.imgPet {
  width: 100%;
}

.petGallery {
  width: 100%;
}

@media screen and (min-width: 48rem) {
  .petpost-page {
    margin-top: 40px;
  }
  .petContainer {
    display: flex;
    margin-top: 45px;
  }
  .petGallery {
    margin-bottom: 0px;
    width: 60%;
  }
  .petData {
    margin-bottom: 0px;
    margin-left: 5px;
    min-width: 390px;
    min-height: 340px;
  }
}
@media screen and (min-width: 64rem) {
  .petpost-page {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1280px;
  }
  .petGallery {
    min-width: 520px;
    min-height: 520px;
  }
  .petContainer {
    justify-content: center;
  }
  .petData {
    min-width: 450px;
    min-height: 520px;
    margin-left: 20px;
  }
}
