<div class="main">
  <div class="main__portada">
    <img class="portada_img hide-mobile" src="./assets/imgs/portada_img.png" />

    <div class="texto">
      <h1 class="title">Donde la luz guía a tu mascota</h1>
      <p class="text">
        Miles de personas han encontrado su felicidad, la de sus seres queridos
        y mascotas gracias a Pet's Lighthouse-el portal más grande y avanzado
        para encontrarte con tu mascota siendo feliz
      </p>
      <form action="/register" accept-charset="UTF-8" autocomplete="off" method="get">
        <div>
          <input type="email" required placeholder="Dirección de correo" name="user_email" id="user_email" />
          <button type="submit">Crea una cuenta</button>
        </div>
      </form>
    </div>
  </div>

  <div class="main__container-stadistics">
    <div class="main__stadistics-data">
      <div class="stadistics">
        <div class="stadistics-text">
          <img src="./assets/imgs/dog_icon.png" alt="dog_icon" />
          <span> <span>1000</span><span>+</span> Perritos adoptados</span>
        </div>
        <div class="stadistics-text">
          <img src="./assets/imgs/cat_icon.png" alt="cat_icon" />
          <span><span>450</span><span>+</span> Gatitos rescatados</span>
        </div>
        <div class="stadistics-text">
          <img src="./assets/imgs/family_icon.png" alt="family_icon" />
          <span><span>1900</span><span>+</span> Familias felices</span>
        </div>
      </div>
    </div>
  </div>

  <div class="secciones">
    <section class="seccion-encuentra">
      <div class="circleIcon">
        <img class="seccion__icon" src="./assets/imgs/encuentra_icon.png" />
      </div>
      <h2>Encuentra</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero sed velit
        culpa rerum quos corrupti, aut quaerat quasi nihil officiis ab ut
        deleniti quisquam perspiciatis quia sunt optio enim dolore. Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Vero sed velit culpa rerum
        quos corrupti, aut quaerat quasi nihil officiis ab ut deleniti quisquam
        perspiciatis quia sunt optio enim dolore.
      </p>
      <button routerLink="/encuentra" type="button">Encontrar</button>
    </section>
    <section class="seccion-difunde">
      <div class="circleIcon">
        <img class="seccion__icon" src="./assets/imgs/difunde_icon.png" />
      </div>
      <h2>Difunde</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero sed velit
        culpa rerum quos corrupti, aut quaerat quasi nihil officiis ab ut
        deleniti quisquam perspiciatis quia sunt optio enim dolore. Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Vero sed velit culpa rerum
        quos corrupti, aut quaerat quasi nihil officiis ab ut deleniti quisquam
        perspiciatis quia sunt optio enim dolore.
      </p>
      <button routerLink="/difunde" type="button">Difundir</button>
    </section>
    <section class="seccion">
      <div class="circleIcon">
        <img class="seccion__icon" src="./assets/imgs/adopta_icon.png" />
      </div>
      <h2>Adopta</h2>
      <p>
        Hay una inmensa cantidad de perritos y gatitos sin dueño en las calles y
        refugios. La necesidad de encontrarles un dueño es tan grande, que
        haciendolo salvarias su vida y traerias alegria y mucha felicidad a tu
        hogar. En Pet's Lighthouse te damos la oportunidad para que les des
        mucho amor a tu futura mascota que tanto lo necesita.
      </p>
      <button routerLink="/adoptar" type="button">Adoptar</button>
    </section>
    <section class="seccion-ayuda">
      <div class="circleIcon">
        <img class="seccion__icon" src="./assets/imgs/ayuda_icon.png" />
      </div>
      <h2>Ayuda</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero sed velit
        culpa rerum quos corrupti, aut quaerat quasi nihil officiis ab ut
        deleniti quisquam perspiciatis quia sunt optio enim dolore. Lorem ipsum,
        dolor sit amet consectetur adipisicing elit. Vero sed velit culpa rerum
        quos corrupti, aut quaerat quasi nihil officiis ab ut deleniti quisquam
        perspiciatis quia sunt optio enim dolore.
      </p>
      <button routerLink="/ayuda" type="button">Ayudar</button>
    </section>
  </div>
</div>

