<div class="postpets--grid" *ngIf="postspet[0]; else loading" [class.profileGrid]="profilePosts">
  <app-postpet
    [postpet]="postpet"
    *ngFor="let postpet of postspet"
  ></app-postpet>
</div>
<ng-template #loading>
  <div class="postpets--grid" [class.profileGrid]="profilePosts">
    <app-postpet
      [postpet]="postpet"
      *ngFor="let postpet of postspet"
    ></app-postpet>
  </div>
</ng-template>
<div>
  <div class="load-container">
    <button id="load-button" class="load-button" (click)="onLoadMore()">
      <span *ngIf="!isLoadingMore; else loadingMore">Cargar más</span>
      <ng-template #loadingMore>
        <app-spinner> </app-spinner>
      </ng-template>
    </button>
  </div>
</div>
