

a {
  text-decoration: none;
}

.allContainer {
  display: flex;
  flex-direction: column;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  margin-left: 18px;
  margin-right: 18px;
}

.btn-active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}

.icon-filter {
  width: 20px;
  cursor: pointer;
}

.post-container {
  display: flex;
  flex-direction: column;
}

.filter-container-mobile {
  width: 100%;
  height: 100vh;
  opacity: 0;
  transform: translateX(-100%);
  position: fixed;
  top: 68px;
  right: 0;
  left: 0;
  bottom: 0;
  transition: transform linear 0.2s, opacity linear 0.2s;

  display: flex;
  justify-content: space-between;
}

.filter-main {
  padding: 0px 15px;
  width: 269px;
  background-color: #e2e9f3;
}

.filtro-title {
  display: flex;
  align-items: center;
  margin-top: 12px;
  p {
    font-size: 20px;
  }
}

.form-container {
  margin-top: 20px;
}

.form-filter-element {
  margin-bottom: 20px;
}

.submitButtons {
  display: flex;
  justify-content: space-evenly;
}

.btnSubmit {
  padding: 12px 18px;
  border-radius: 6px;
  font-weight: 700;
}

.btn-clear {
  background-color: #03091e;
  color: white;
}

.btn-apply {
  background-color: var(--yellow);
  color: #03091e;
}

.icon-container-filter {
  width: 20px;
  margin-right: 12px;
}

.side-background {
  width: calc(100% - 269px);
  background-color: var(--blue-transparent);
}

.icon-closeFilter {
  width: 44px;
}

.full-width {
  width: 100%;
}

.publicPet {
  padding: 9px 16px;
  background-color: var(--yellow);
  font-size: 14px;
  width: 190px;
  text-align: center;
  color: #03091e;
  font-weight: 600;
  border-radius: 6px;
  text-decoration: none;
}

.posts {
  padding: 12px;
  padding-top: 20px;
  max-width: 1280px;
  min-height: 625px;
  margin: 0 auto;
}

.profilePosts{
  padding: 0px;
}

.postsLoading {
  padding: 12px;
  padding-top: 20px;
  max-width: 1280px;
  min-height: 781px;
}

.notFound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.notFound__img {
  width: 200px;
}

.notFound__text {
  margin-top: 5px;
  text-align: center;
}


.toggle-filter {
  opacity: 1;
  transform: translateX(0%);
}

.validationMessage {
  display: none;
  &.active {
    display: block;
  }
}

.invalid-feedback {
  display: block;
}

.show-mobile-flex {
  display: flex;
}

.show-mobile {
  display: block;
}

.hide-mobile {
  display: none;
}

@media screen and (min-width: 30rem) {
}

@media screen and (min-width: 48rem) {
  .filter-main {
    width: 300px;
  }

  .posts{
    min-height: 616px;
  }

  .side-background {
    width: calc(100% - 300px);
  }

  .buttons-container {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 64rem) {
  .show-mobile {
    display: none;
  }

  .show-mobile-flex {
    display: none;
  }

  .allContainer {
    max-width: 1280px;
    margin: 0 auto;
  }

  .hide-mobile {
    display: block;
  }

  .posts{
    min-height: 610px;
  }

  .notFound{
    position: absolute;
    left: 60%;
    top: 55%;
    transform: translate(-50%, -50%);
  }

  .mainContainer {
    display: flex;
  }

  .publicPet {
    margin-top: 30px;
    margin-right: 52px;
    align-self: end;
  }

  .form-container {
    margin-top: 10px;
  }

  .post-container {
    width: calc(100% - 20%);
    display: flex;
    flex-direction: column;
  }
  .profilePostsContainer{
    width: 100%;
  }

  .filter-container {
    width: 20%;
    background-color: #e2e9f3;
    min-height: calc(100vh - 68px);
  }

  .filter-title {
    font-weight: 600;
  }

  aside {
    display: block;
    padding: 15px;
    margin-top: 15px;
  }
}
