<div
  class="dropzone"
  dropzone
  (hovered)="toggleHover($event)"
  (dropped)="onDrop($event)"
  [class.hovering]="isHovering"
>
  <h3 class="text title">Arrastra y suelta una o más imagenes</h3>
  <p class="text">o...</p>
  <div class="file">
    <label class="file-label">
      <input
        class="file-input"
        id="inputElement"
        type="file"
        multiple="multiple"
        accept="image/*"
        (change)="onDrop($any($event.target).files)"
      />
      <span>Elige una o más imagenes</span>
    </label>
  </div>
</div>

<div class="uploaded-files" *ngIf="!updating; else updatingg">
  <div class="imgUploaded" *ngFor="let file of files">
    <app-upload-task
      [published]="published"
      [updating]="false"
      (uploaded)="onUpload($event)"
      (deleted)="onDelete($event)"
      [file]="file"
    ></app-upload-task>
  </div>
</div>
<ng-template #updatingg>
  <div class="uploaded-files">
    <div class="imgUploaded" *ngFor="let file of files">
      <app-upload-task
        [published]="published"
        [updating]="true"
        (uploaded)="onUpload($event)"
        (deleted)="onDelete($event)"
        [file]="file"
      ></app-upload-task>
    </div>
    <div class="imgUploaded" *ngFor="let img of imgsUrlUpdatingToShow">
      <app-upload-task
        [published]="published"
        *ngIf="img.url"
        [updating]="true"
        (uploadedUpdate)="onUpload($event)"
        (deletedUpdate)="onDelete($event)"
        [imgUpdating]="img"
      ></app-upload-task>
    </div>
  </div>
</ng-template>
