.main {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 14px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.formBox {
  margin-top: 12px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-element-section {
  padding: 10px 9px;
  margin-bottom: 15px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.containerImgs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.form-elements {
  padding: 9px 0px;
  margin-top: 15px;
}

.textDescription {
  height: 200px;
}

.inputFileElement {
  margin-top: 15px;
}

.message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  &.invalid {
    color: var(--red);
  }
}

.uploadedImgs {
  display: none;
  margin-top: 20px;
  img {
    width: 100%;
  }
}

.imgContainer {
  width: 100%;
  margin: 0 auto;
  max-width: 300px;
  position: relative;
  display: none;
  margin-bottom: 5px;
}

.deleteIcon {
  display: none;
  position: absolute;
  fill: blueviolet;
  cursor: pointer;
  width: 40px;
  right: 10px;
  top: 10px;
}

.progressBar {
  display: none;
  width: 100%;
  border: gray 1px solid;
  margin-top: 15px;
  border-radius: 8px;
  background-color: var(--blue);
}

.bar {
  width: 1%;
  border-radius: 8px;
  height: 10px;
  background-color: var(--yellow);
}

.submit-btn {
  padding: 9px 16px;
  font-weight: 700;
  background-color: var(--yellow);
  font-size: 16px;
  line-height: 1.15;
  margin-top: 5px;
  margin-bottom: 20px;
}

.contactInput{
  display: inline-block;
  width: 100%;
  margin-right: 8px;
}

.addContactField{
  display: inline-block;
  padding: 8px 8px;
  background-color: var(--yellow);
  font-weight: 600;
  border-radius: 5px;
}

.formArrayElement{
  margin-bottom: 8px;
}

.files-uploader{
  margin-top: 15px;
  padding: 9px;
}

.full-width {
  width: 100%;
}

.validationMessage {
  display: none;
  &.active {
    display: block;
  }
}

.is-valid {
  background-image: none !important;
  padding-right: 0px !important;
}

.is-invalid {
  background-image: none !important;
  padding-right: 0px !important;
}

.invalid-feedback {
  display: block;
}

@media screen and (min-width: 30rem) {
  .main {
    margin: 18px auto;
    padding: 0px 18px;
  }
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form-elements {
    width: 50%;
    padding: 9px;

    &.inputFileElement {
      width: auto;
    }

    &.textarea {
      width: auto;
    }
  }

  .textDescription {
    height: 150px;
  }

  .formContact{
    width: 56.7%;
  }
}

@media screen and (min-width: 48rem) {
  .main {
    margin: 40px auto;
    max-width: 750px;
    padding: 0px 24px;
  }
}

@media screen and (min-width: 64rem) {
  .main {
    margin: 60px auto;
  }
}

