.register-container {
  margin: 88px auto;
  width: 300px;
}

.nav__logo {
  display: flex;
  margin: 12px auto;
  align-items: center;
  height: 100%;
  width: min-content;
  font-size: 15px;
  a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    img {
      margin-right: 5px;
      width: 50px;
      height: 50px;
    }
  }
}

.register-texto{
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 16px;
  text-align: center;
}

.form-box {
  padding: 16px;
  border: 1px solid gray;
  border-radius: 6px;
}

.form-flex {
  display: flex;
  flex-direction: column;
}

.form-items {
  margin: 12px 0px;
}

.form-button {
  width: 100%;
  background-color: var(--yellow);
  padding: 9px 19px;
  font-weight: 700;

}

.register {
  text-align: center;
  margin-top: 16px;
  padding: 16px;
  border: 1px solid gray;
  border-radius: 6px;
  button{
    margin-top: 8px;
    width: 100%;
    padding: 9px 19px;
    background-color: transparent;
    border: 1px solid;
    border-radius: 8px;
    border-color: var(--blue);
    color: var(--blue);
    text-decoration: none;
    font-weight: 700;
  }
}

.validationMessage {
  display: none;
  &.active {
    display: block;
  }
}

.is-valid {
  background-image: none;
}

.is-invalid {
  background-image: none;
}

.invalid-feedback {
  display: block;
}

.icon-eye{
  position: absolute;
  fill: gray;
  right: 15px;
  cursor: pointer;
  top: 35px;
  svg{
    display: none;
    &.active{
      display: block;
    }
  }
}
