<div [class]="home ? 'postpetHome' : 'postpet'" *ngIf="postpet; else loading">
  <div class="container__postpet-img">
    <div class="postpet-img" *ngIf="postpet.urlImgs">
      <a [routerLink]="['/pet', postpet.id]">
        <!-- <app-image
          [img]="postpet.urlImgs[0].url"
          [alt]="postpet.petSpecie"
        ></app-image> -->
        <img class="postpetImg" [src]="postpet.urlImgs[0].url" alt="">
      </a>
    </div>
  </div>
  <div class="postpet-info">
    <p>
      Visto por ultima vez en {{ postpet.cantonName | titlecase }},
      {{ postpet.provinciaName | titlecase }}, {{ lastTimeSeen }}
    </p>
    <p *ngIf="postpet.petBreed">Raza: {{ postpet.petBreed }}</p>
    <div *ngIf="postpet.petStateId == 'B'">
      <p *ngIf="postpet.reward; else noReward">
        Recompensa: {{ postpet.reward | currency }}
      </p>
      <ng-template #noReward>
        <p>Recompensa: -</p>
      </ng-template>
    </div>
  </div>
</div>
<ng-template #loading>
  <div [class]="home ? 'postpetHome' : 'postpet'">
    <div class="container__postpet-img">
      <div class="postpet-imgLoading"></div>
    </div>
    <div class="postpet-info"></div>
  </div>
</ng-template>
