.postpet {
  max-width: 300px;
  width: 88.9%;
  margin: 0 auto;
  box-sizing: content-box;
  background-color: var(--darker-light-blue);
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 15px;
}

.postpetHome {
  min-width: 265px;
  box-sizing: content-box;
  background-color: var(--darker-light-blue);
  border-radius: 5px;
  padding: 12px;
  margin: 0px 5px;
}

.container__postpet-img {
  display: flex;
  justify-content: center;
}

.postpet-img {
  overflow: hidden;
  display: flex;
  min-width: 200px;
  min-height: 200px;
  background-color: white;
  align-items: center;
}

.postpetImg{
  max-width: 100%;
}

.postpet-imgLoading {
  height: 245px;
}

.postpet-info {
  font-size: 14px;
  line-height: 1.15;
  padding-top: 0px;
  p {
    padding-bottom: 4px;
    &:first-child {
      padding-top: 8px;
    }
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .postpet {
    max-width: 275px;
    margin-bottom: 0px;
    height: 340px;
  }

  .postpetHome{
    margin: 0px 10px;
  }

  .container__postpet-img {
    height: 65%;
  }
  .postpet-img {
    width: auto;
    height: auto;
    overflow: hidden;
    min-height: auto;
  }
  .flex-justify-center {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 210px;
  }

  .postpet-info {
    display: flex;
    height: 35%;
    font-size: 14px;
    line-height: 1.15;
    padding-top: 0px;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 64em) {
  .container__postpet-img {
    height: 65%;
  }
  .postpet {
    margin-bottom: 0px;
    height: 320px;
  }

  .postpet-info {
    display: flex;
    height: 35%;
    font-size: 14px;
    line-height: 1.15;
    padding-top: 0px;
    flex-direction: column;
    justify-content: center;
  }
}
